.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  background-color: #fbfbfb;
}
.login__grid {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}
/* .login__form {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
} */

.login-h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.login-p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #7d7d7d;
  margin-bottom: 40px;
}
.alertnateCTA {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  color: #7d7d7d;
  text-align: center;
  margin: 63px 0 0;
}
.form-group {
  margin-bottom: 24px;
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  position: relative;
}
.small {
  position: absolute;
  top: 35%;
  right: 3%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  color: #39cdcc;
}
.input {
  display: block;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  width: 100%;
  height: 32px;
  padding: 16px;
}
.label {
  display: none;
}
.span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: block;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
  margin-bottom: 30px;
}
.submit {
  height: 56px;
  width: 100%;
  border: none;
  background: #00789a;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 0;
  margin-top: 56px;
}
.login__grid {
  max-width: 90%;
  /* margin: auto; */
}

@media screen and (min-width: 992px) {
  .login__grid {
    max-width: 50%;
    /* margin: auto; */
  }
  .login__grid {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .login {
    width: 100%;
    margin: 0px;
  }
  .login__grid {
    width: 90%;
    height: calc(100vh - 140px);
    margin: auto;
    margin-top: 30px;
    display: grid;
    align-items: center;
    margin-bottom: unset;
    margin-top: unset;
  }
}
